
.slider .rsts-prev {
  left: 4%;
  background-image: url('/files/layout/2016/arrow-left.svg');
}

.slider .rsts-next {
  background-image: url('/files/layout/2016/arrow-right.svg');
  right: 4%;
}

.slider .rsts-prev, .slider .rsts-next {
  top: 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  &:hover {
    background-color: transparent;
    border: none;
    filter: invert(1);
  }
}

.rsts-type-slide .rsts-view {
  cursor: pointer;
}

.rsts-skin-default .rsts-prev, .rsts-skin-default .rsts-next {
  border: none;
  width: 45px;
  height: 45px;
  box-shadow: 0 0 15px #cecece;
  border-radius: 50%;
  background-color: #cecece50;
  span {
    display: none;
  }
}

.image-main {
  margin: 30px auto;
  border-top: 1px dotted #a32b6c;
  border-bottom: 1px dotted #a32b6c;
  padding: 30px 0;
  img {
    width: 87%;
    height: auto;
  }
}

.main-text {
  margin-top: 25px;
}

.contain-image {
  margin-top: 40px;
}

 #main .text-slider-after, #main .text-slider-before, .image-bottom {
  margin: 20px 0;
  border-top: 1px dotted #a32b6c;
  max-width: 1040px;
  padding-top: 25px;
 }

#main .text-slider-before, .image-bottom {
  border-top: none;
  border-bottom: 1px dotted #a32b6c;
  padding-top: 0;
}

.image-bottom {
  padding-bottom: 25px;
}

#main .form {
  margin-top: 40px;
}

#main .image, #main .media .image{
  border-top: 1px dotted #a32b6c;
  max-width: 1040px;
  padding-top: 25px;
  margin-top: 83px;
}

#main .media .image {
  border: 0;
}

#main .teaser-probe {
  max-width: 1040px;
  p {
    max-width: 900px;
  }
  .h2-bottom {
    margin-bottom: 90px;
  }
}

#map {
  height: 75vh;
  z-index: 0;
  margin-top: 60px;
}

.leaflet-popup-pane {
  transform: translateY(-41px);
}

#main .mod_newslist,#main .ce_text .teaser {
  .layout_latest,.more {
    perspective: 800px;
    a {
      display: block;
      position: relative;
      transition: transform 250ms ease-out;
      transform-origin: 50%;
      transform-style: preserve-3d;
      width: 100%;
      &:before {
        position: absolute;
        display: block;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        content: attr(data-hover1) '\A' attr(data-hover2);
        min-height: 144px;
        margin-top: 0;
        margin-bottom: 18px;
        padding-top: 32px;
        padding-left: 12.5%;
        padding-right: 20px;
        box-sizing: border-box;
        background: #a5b4b9 url("/files/layout/2016/link.png") 20px center/6.4% no-repeat;
        border: 0;
        font: 2.6em "Roboto Condensed", sans-serif;
        color: #fff;
        font-weight: 300;
        white-space: pre;
        text-transform: uppercase;
        transform: rotateX(-90deg);
        transform-origin: 50% 0;
        transition: background-color 250ms ease-out;
      }
      &:hover {
        transform: rotateX(90deg) translateZ(70px) translateY(-72px);
        &:before {
          background-color: #e40038;
          transform: rotateX(-90deg);
        }
      }
    }
  }
}

#main .ce_text .teaser .more a {
  padding-top: 55px;
  overflow: visible !important;
  &::before {
    padding-top: 55px;
    padding-left: 16%;
    background: #a5b4b9 url("/files/layout/2016/kostprobe.png") 20px center/11.5% no-repeat;
    font-size: 28px;
    content: attr(data-hover);
  }
}

@media screen and (max-width: 1280px) {
  #main h1 {
    font-size: 2.8em;
  }

  .mod_newslist .layout_latest a:hover {
    transform: none;
  }
}



